.App{
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: white;
    color:white;
}
.nav-link{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-button{
    height: 40px;
    width: 125px;
    margin-left: 20px;
    border-radius: 30px;
    border-width: 1px;
    border-color: gray;
    background-color: transparent;
    color: black;
    font-size: 18px;
    font-weight: bolder;
}
.Pages{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
}
